# Aula 1

---

**Saulo Martiello Mastelini**<br>
Candidato a Ph.D. pelo ICMC-USP<br>
Online Machine Learning

Página pessoal: smastelini@github.io</br>
e-mail: saulo.mastelini@voltrobotics.com.br

---

## Sumário:

- Introdução a data science
- Python e bibliotecas úteis
- O pipeline de data science
- Tarefas preditivas
- Exploratory Data Analysis (EDA)

---

# 1. Data Science

- Muito se fala sobre isso
- "Todo mundo quer usar"
- Mas o que é?
    - Várias definições
    - Minha definição: _Aplicação de **técnicas multidisciplinares** para **extração de conhecimento** de **dados**._

Vamos analisar alguns pontos dessa definição:

## 1.1. Técnicas multidisciplinares

- Matemática aplicada
- Estatística
- Inteligência Artificial (IA)
- Banco de dados
- ... e assim por diante

<img title="Data science" src="img/a1/ds.png" height="500">
    <figcaption>Fonte: Michael Barber, via Towards Data Science</figcaption>
</img>

- Eu havia mencionado IA e não ML. E agora?
- ML é uma subárea de IA
- IA engloba múltiplas técnicas além de ML:
    - Algoritmos de busca
    - Algoritmos genéticos
    - Para citar alguns

<img title="IA, ML e deep learning" src="img/a1/ai-ml.png" height="500">
    <figcaption>Fonte: Singapure Computer Society</figcaption>
</img>

- Mas o que é ML?

> _"Machine Learning is a field of computer science that focuses on the development of algorithms and statistical models that enable computers to learn from data and make predictions or decisions without being explicitly programmed to do so. It involves using techniques such as supervised learning, unsupervised learning, and reinforcement learning to build models that can improve and adapt over time based on experience."_ ChatGPT

## 1.2. Extração de conhecimento

- O que pode ser conhecimento nesse caso?
- Dados quantitativos e qualitativos
    - Indicadores
    - Previsões para apoio à decisão
    - Automação
    - Design
    - O céu é o limite!

## 1.3. Dados

> "O pretóleo do século XXI"

- Dado é um termo genérico
- No âmbito de ciência de dados, tipicamente categorizamos os dados em dados estruturados e não-estruturados

### 1.3.1. Dados estruturados

- Dados com uma estrutura rígida e pré-definida
- Pense numa planilha de dados do Excel_
    - Linhas representam entradas individuais
    - Colunas representam atributos das entradas
        - _Features_

<img src="img/a1/planilha.png" height="300">
    <figcaption>Uma planilha (vazia)</figcaption>
</img>

#### 1.3.1.1. Tipo

- Os dados podem ser:

    - Nominais
    - Numéricos

#### 1.3.1.2. Escala

### 1.3.2. Dados não-estruturados

- Não possuem uma estrutura definida e rígida
- Exemplos:
    - Texto
    - Imagens
    - Vídeo
- Para aplicar ML em dados não-estruturados é comum que seja necessário primeiramente estruturá-los
- Processo também chamado de extração de features (mais sobre isso no futuro)
- Exemplo:

<img src="img/a1/bag.png" width="700">
    <figcaption>Fonte: vitalflux.com</figcaption>
</img>


- O grande trunfo de deep learning é automatizar a extração de features
    - Não requer intervenção humana
    - Requer grandes quantidades de dados
    - Alto custo computacional

# 2. O pipeline típico de data science

Tudo em computação é sobre algoritmos. Sejam eles programados ou procedimentos metodológicos seguidos para a resolução de um problema.

Em data science isso não é diferente. Essa figura exemplifica passos corriqueiros no desenvolvimento de uma aplicação de data science:

<img src="img/a1/pipeline.png" height="550">
    <figcaption>Um pipeline usual de data science. Fonte: Sudeep Agarwal</figcaption>
</img>

- Nessa disciplina nós focaremos nos passos 3-7, com especial enfoque no passo 6.
- Na parte prática de hoje, nós focaremos, de forma introdutória nos passos 3 e 4.

#### Na prática

- A figura acima é muito bonita e vende bem, mas na prática, gosto de pensar no pipeline, ou seja, o conjunto de passos, da seguinte forma:


<img src="img/a1/pipeline-custom.png" width="1100">
    <figcaption>Minha visão pessoal sobre um pipeline de data science</figcaption>
</img>

# 3. Machine Learning e tarefas preditivas

- Nosso objetivo é treinar um modelo computacional que desempenhará tarefas que requerem inteligência, pelo menos no quesito tomada de decisão.
- Apesar de Hollywood gostar de explorar o tema "IA", o enfoque prático de ML é bem mais mundano e "pé-no-chão" em seu estado atual
    - Buscamos automatizar tarefas repetitivas e dispendiosas
    - Substituir a atuação humana em tarefas de risco ou em locais de dificil acesso
    - Aumentar a velocidade do processo de decisão

- Além disso, na comparação entre um especialista humano e uma máquina, temos mais alguns elementos que são fatores a se considerar:
    - O ser humano se cansa
    - Fica entediado
    - Estressado e saturado
    - Seu estado de humor e mental pode influenciar no resultado de uma ação
- No fim das contas, o que queremos é permitir que o especialista fique focado em tarefas que realmente requerem sua expertise


## 3.1. Tarefas preditivas

- Quando treinamos uma IA para desempenhar uma tarefa, a primeira coisa que precisamos pensar é no tipo de tarefa a ser desempenhada.
- Em ML, nós estamos interessados em tarefas preditivas
    - Onde esperamos que a máquina nos dê algum tipo de resposta, feedback, ou saída para os dados de entrada
- Temos três tipos principais de tarefas preditivas. São as tarefas de:
    1. Aprendizado supervisionado
    2. Aprendizado semi-supervisionado
    3. Aprendizado nãp-supervisionado

### 3.1.2. Aprendizado supervisionado

- Considere:
    - $\mathbf{X}$: Conjunto de atributos (ou _features_)
    - $\mathbf{y}$: conjunto de labels
    - $\mathbf{x} \in \mathbf{X}$: uma entrada no conjunto de instâncias do problema
    - $x_j$: o valor do $j$-ésimo atributo na instância $\mathbf{x}$
    - $y \in \mathbf{y}$: uma observação no conjunto de rótulos (ou _labels_)
- Queremos encontrar uma função: $f(x) \rightarrow y$
    - Por exemplo: 

### 3.1.2. Aprendizado semi-supervisionado

### 3.1.3. Aprendizado não-supervisionado

# 4. Preparação

Utilizaremos o jupyter notebook para criar arquivos interativos que podem combinar código e texto. Esses arquivos serão compartilhados (em geral) no começo das aulas, para que possam acompanhar a execução dos códigos e melhor entender o conteúdo apresentado.

Passos (ler observação no final):

1. Instalar o miniconda: [website](https://docs.conda.io/en/latest/miniconda.html)
2. Criar uma pasta para as aulas da disciplina
3. Salvar o conteúdo a seguir como um arquivo chamado `environment.yml`, dentro da pasta criada
  - Atenção na extensão do arquivo

```yml

# TODO

```

4. Abrir um terminal adequado para manipular o anaconda/miniconda:
  - No Windows: anaconda powershell
  - No Linux e Mac: o terminal padrão do sistema
5. Navegar no terminal até a pasta criada (alternativamente, o terminal pode ser aberto diretamente na pasta)
6. Executar o seguinte comando: `conda env create -f environment.yml`

A partir daqui, os passos serão utilizados toda vez que formos utilizar os notebooks jupyter:

7. Com o terminal aberto na pasta das aulas, rodar o seguinte comando para ativar o ambiente de programação criado: `conda activate uel`
8. Abrir o ambiente do jupyter notebook, rodando o seguinte comando: `jupyter notebook`

> **Obs:** pode ser que seja necessário fechar e reabrir o terminal após a execução do passo 1, para que os passos posteriores funcionem corretamente

Vamos iniciar a parte prática de hoje.

# 5. Exploratory Data Analysis

In [16]:
import pandas as pd

In [2]:
# Leitura dos dados

df = pd.read_csv("data/a1/iris.csv")
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [4]:
df.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [19]:
df["variety"] = df["variety"].astype("category")

In [20]:
df.variety

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variety, Length: 150, dtype: category
Categories (3, object): ['Setosa', 'Versicolor', 'Virginica']